html {
    font-size: 30px;
}

#gamePlayScreen {
    height: 270px;
    width: 270px;
    display: none; 
}

.ticTacToeButtons, .pickSideButtons {
    background-color: #333333;
    color: #333333;
    height: 80px;
    width: 80px;
    margin: 2px 1px;
    font-size: 60px;
    display: inline-block;
    color: white;
    text-align: center;
    overflow: hidden;
}

#playAgainButton {
    background-color: green;
    color: white;
    height: 40px;
    width: 180px;
    display: none;
    text-align: center;
}
